In [36]:
# import pyspark
# from pyspark.sql import SparkSession
# from pyspark.sql.types import StructType , StructField, StringType, IntegerType

In [5]:
!pip install findspark
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType , StructField, StringType, IntegerType

Requirement already satisfied: findspark in c:\users\brhng\anaconda3\lib\site-packages (2.0.1)

In [6]:
spark = SparkSession.builder.master("local[1]").appName("giveatry").getOrCreate()

data = [("James","","William","36636","M",3000),("Micheal","Smith","","40288","M",4000),("Robert","","Dawson","42114","M",4000),
        ("Maria","","Jones","39192","F",4000)]

In [7]:
schema = StructType([\
    StructField("firstname",StringType(),True),\
    StructField("middlename",StringType(),True),\
    StructField("lastname",StringType(),True),
    StructField("id",StringType(),True),\
    StructField("gender",StringType(),True),\
    StructField("salary",IntegerType(),True)]    
)
#null olup olmama durumu true

In [8]:
df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()
df.show(truncate = False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |William |36636|M     |3000  |
|Micheal  |Smith     |        |40288|M     |4000  |
|Robert   |          |Dawson  |42114|M     |4000  |
|Maria    |          |Jones   |39192|F     |4000  |
+---------+----------+--------+-----+------+------+

In [12]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

spark = SparkSession.builder.master("local[1]").appName("giveatry2").getOrCreate()

data = [("James","Sales",3000),["Micheal","Sales",4600],("Robert","Sales",4100),("Maria","Finance",3000),("James","Sales",3000),("Scoot","Finance",3300),("Jen","Finance",3900),("Jeff","Marketing",3000),("Kumar","Marketing",2000),("Dogu","Sales",4100)]
column = ["Employee_name","department","salary"]
df = spark.createDataFrame(data=data,schema=column)
df.printSchema()
df.show(truncate= False)

root
 |-- Employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|Employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Micheal      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scoot        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Dogu         |Sales     |4100  |
+-------------+----------+------+

In [17]:
#Distinct
distincDF = df.distinct()
print("Disctinct count:"+str(distincDF.count()))
distincDF.show(truncate= False)

#Drop Duplicates
df2 = df.dropDuplicates()
print("Disctinct count:"+str(df2.count()))
df2.show(truncate= False)

#Drop Duplicates with particualar columns
dropDisDF = df.dropDuplicates(["department","salary"]) # ikisnin de aynı olanlar duplicate sayılıcak
print("Disctinct count:"+str(dropDisDF.count()))
dropDisDF.show(truncate= False)

Disctinct count:9
+-------------+----------+------+
|Employee_name|department|salary|
+-------------+----------+------+
|Micheal      |Sales     |4600  |
|Jen          |Finance   |3900  |
|Scoot        |Finance   |3300  |
|Kumar        |Marketing |2000  |
|James        |Sales     |3000  |
|Robert       |Sales     |4100  |
|Jeff         |Marketing |3000  |
|Maria        |Finance   |3000  |
|Dogu         |Sales     |4100  |
+-------------+----------+------+

Disctinct count:9
+-------------+----------+------+
|Employee_name|department|salary|
+-------------+----------+------+
|Micheal      |Sales     |4600  |
|Jen          |Finance   |3900  |
|Scoot        |Finance   |3300  |
|Kumar        |Marketing |2000  |
|James        |Sales     |3000  |
|Robert       |Sales     |4100  |
|Jeff         |Marketing |3000  |
|Maria        |Finance   |3000  |
|Dogu         |Sales     |4100  |
+-------------+----------+------+

Disctinct count:8
+-------------+----------+------+
|Employee_name|department|salary|
+-------------+----------+------+
|Micheal      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Jen          |Finance   |3900  |
|Maria        |Finance   |3000  |
|Scoot        |Finance   |3300  |
|Kumar        |Marketing |2000  |
|James        |Sales     |3000  |
|Jeff         |Marketing |3000  |
+-------------+----------+------+

In [20]:
PandasDF = df.toPandas()
print(PandasDF)

  Employee_name department  salary
0         James      Sales    3000
1       Micheal      Sales    4600
2        Robert      Sales    4100
3         Maria    Finance    3000
4         James      Sales    3000
5         Scoot    Finance    3300
6           Jen    Finance    3900
7          Jeff  Marketing    3000
8         Kumar  Marketing    2000
9          Dogu      Sales    4100

In [28]:
data = [("Banana", 1000, "USA"), ("Carrots", 1500, "USA"), ("Beans", 1600, "USA"),("Orange", 2000, "USA"), ("Orange", 2000, "USA"), ("Banana", 4000, "China"),("Carrots", 1200, "China"), ("Beans", 1500, "China"), ("Orange", 4000, "China"),("Banana", 2000, "Canada"), ("Carrots", 2000, "Canada"), ("Beans", 2000, "Mexico")]
columns = ["Product","Amount","Country"]

df = spark.createDataFrame(data=data,schema=columns)
df.printSchema()
df.show(truncate = False)

root
 |-- Product: string (nullable = true)
 |-- Amount: long (nullable = true)
 |-- Country: string (nullable = true)

+-------+------+-------+
|Product|Amount|Country|
+-------+------+-------+
|Banana |1000  |USA    |
|Carrots|1500  |USA    |
|Beans  |1600  |USA    |
|Orange |2000  |USA    |
|Orange |2000  |USA    |
|Banana |4000  |China  |
|Carrots|1200  |China  |
|Beans  |1500  |China  |
|Orange |4000  |China  |
|Banana |2000  |Canada |
|Carrots|2000  |Canada |
|Beans  |2000  |Mexico |
+-------+------+-------+

In [29]:
#pivot sabit demek basketballdaki gibi bir sutünü sabit tutup diyerlerini
pivotDf = df.groupby("Product").pivot("Country").sum("Amount")
pivotDf.printSchema()
pivotDf.show(truncate = False)

root
 |-- Product: string (nullable = true)
 |-- Canada: long (nullable = true)
 |-- China: long (nullable = true)
 |-- Mexico: long (nullable = true)
 |-- USA: long (nullable = true)

+-------+------+-----+------+----+
|Product|Canada|China|Mexico|USA |
+-------+------+-----+------+----+
|Orange |null  |4000 |null  |4000|
|Beans  |null  |1500 |2000  |1600|
|Banana |2000  |4000 |null  |1000|
|Carrots|2000  |1200 |null  |1500|
+-------+------+-----+------+----+

In [40]:
#dışarıdan veri ile çalışma
#df = spark.read.format('delta').options(header ="True",inferschema="True").load("C:\\Users\\brhng\\Desktop\\Advertising.csv")
df = spark.read.format('delta').options(header="True",inferschema="True").csv("C:\\Users\\brhng\\Desktop\\Advertising.csv")
df.printSchema()
df.show(5)

root
 |-- _c0: integer (nullable = true)
 |-- TV: double (nullable = true)
 |-- Radio: double (nullable = true)
 |-- Newspaper: double (nullable = true)
 |-- Sales: double (nullable = true)

+---+-----+-----+---------+-----+
|_c0|   TV|Radio|Newspaper|Sales|
+---+-----+-----+---------+-----+
|  1|230.1| 37.8|     69.2| 22.1|
|  2| 44.5| 39.3|     45.1| 10.4|
|  3| 17.2| 45.9|     69.3|  9.3|
|  4|151.5| 41.3|     58.5| 18.5|
|  5|180.8| 10.8|     58.4| 12.9|
+---+-----+-----+---------+-----+
only showing top 5 rows

In [41]:
#RDD creation
df = spark.sparkContext.parallelize([(1,2,3,"a b c"),(4,5,6,"d e f"),(7,8,9,"g h i")]).toDF(["col1","col2","col3","col4"])
df.show()

+----+----+----+-----+
|col1|col2|col3| col4|
+----+----+----+-----+
|   1|   2|   3|a b c|
|   4|   5|   6|d e f|
|   7|   8|   9|g h i|
+----+----+----+-----+